@import "variables";

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    padding: 6px;
    background-color: white;
    font-family: Chicago_12;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        max-width: 100%;

        @media (max-width: $tablet-max-width) {
            flex-direction: column;
            font-size: 1rem;
        }
    }

    a {
        color: inherit;
    }

    .copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--light-color-secondary);

        &--user {
            margin: auto;
            text-align: center;
        }

        &>*:first-child:not(:only-child) {
            margin-right: 10px;

            @media (max-width: $tablet-max-width) {
                border: none;
                padding: 0;
                margin-right: 5px;
            }
        }
    }

    .copyright-theme-sep {
        @media (max-width: $tablet-max-width) {
            display: none;
        }
    }

    .copyright-theme {
        @media (max-width: $tablet-max-width) {
            font-size: 1rem;
        }
    }
}