@import "variables";

html {
    box-sizing: border-box;
    height: 100%;
}

::-webkit-scrollbar {
    display: none !important;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.heading {
    font-size: 2rem !important;
    color: black !important;
}

.center {
    text-align: center;
}

body {
    margin: 0;
    font-family: Elice Digital Coding, Hack, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
    font-size: 1rem;
    line-height: 1.54;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position: relative;
    height: 100%;
    word-break: keep-all;

    @media (max-width: $phone-max-width) {
        word-break: break-all;
        font-size: 0.75rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 1.3;
    font-family: Chicago, Elice Digital Coding !important;
}

h1 {
    font-size: 1.5rem !important;
}

h2 {
    font-size: 1.3rem !important;
}

h3 {
    font-size: 1.2rem !important;
}

h4,
h5,
h6 {
    font-size: 1.1rem !important;
}


a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    border: 0.2px solid black;

    &.left {
        margin-right: auto;
    }

    &.center {
        margin-left: auto;
        margin-right: auto;
    }

    &.right {
        margin-left: auto;
    }
}

p {
    margin-bottom: 20px;
}

figure {
    display: table;
    max-width: 100%;
    margin: 25px 0;

    &.left {
        img {
            margin-right: auto;
        }
    }

    &.center {
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.right {
        img {
            margin-left: auto;
        }
    }

    figcaption {
        font-size: 14px;
        padding: 5px 10px;
        margin-top: 5px;
        background: var(--accent);
        color: var(--background);

        &.left {
            text-align: left;
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }
}

code {
    font-family: DungGeunMo, Hack, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
    font-feature-settings: normal;
    background: var(--accent-alpha-20);
    padding: 1px 6px;
    margin: 0 2px;
    font-size: 1.1rem;

    @media (max-width: $phone-max-width) {
        font-size: .8rem;
    }
}

pre {
    position: relative;
    font-family: DungGeunMo, Hack, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
    padding: 10px 20px;
    overflow: auto;
    border: 1px solid black;

    code {
        padding: 0;
        margin: 0;
        background: none;
    }
}


blockquote {
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    margin: 40px 0;
    padding: 25px;

    @media (max-width: $phone-max-width) {
        padding-right: 0;
    }


    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    p {
        position: relative;
    }

    p:before {
        content: '>';
        display: block;
        position: absolute;
        left: -25px;
        color: var(--accent);
    }
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 40px 0;
}

table,
th,
td {
    border: 1px dashed black;
    padding: 10px;
    word-wrap: break-word;
}

th {
    color: black;
}

ul,
ol {
    margin-left: 40px;
    padding: 0;

    li {
        position: relative;
    }

    @media (max-width: $phone-max-width) {
        margin-left: 30px;
    }
}

ol ol {
    list-style-type: lower-alpha;
}

.container {
    min-height: 100%;
    position: relative;
    padding-bottom: 1.5rem;

    @media (max-width: $phone-max-width) {
        padding-bottom: 2rem;
    }
}

.main-content {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100%;

    @media (max-width: $phone-max-width) {
        padding: 20px;
    }

    border-radius: $border-radius;
}

.content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 40px !important;
    min-height: 80vh;
    margin: 0 auto;
    border-radius: $border-radius;

    @media (max-width: $phone-max-width) {
        padding: 20px 10px !important;
    }
}

hr {
    width: 100%;
    border: none;
    background: var(--border-color);
    height: 1px;
}

.hidden {
    display: none;
}