@import 'variables';

.pagination {
  border: 1px dashed black;
  margin: 20px 0 0;

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin-top: 10px;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      background: var(--accent-alpha-20);
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: .1em;
      z-index: 1;

      @media (max-width: $phone-max-width) {
        font-size: .65rem;
      }
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $phone-max-width) {
      flex-direction: column;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  border-radius: 8px;
  max-width: 40%;
  padding: 0;
  cursor: pointer;
  appearance: none;

  @media (max-width: $phone-max-width) {
    max-width: 90%;
    font-size: .65rem;
  }

  +.button {
    margin-left: 10px;
  }

  a {
    display: flex;
    padding: 8px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}