@import "variables";

.posts {
    width: 100%;
    margin: 0 auto;
}

.post {
    width: 100%;
    text-align: left;

    @media (max-width: $tablet-max-width) {
        max-width: 660px;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--border-color);
    }

    %meta {
        font-size: 1rem;
        margin-bottom: 10px;
        color: black;
    }

    &-meta {
        @extend %meta;
    }

    &-meta-inline {
        @extend %meta;

        display: inline;
    }

    &-title {
        --border: 2px dashed black;
        position: relative;
        color: black;
        margin: 0 0 15px;
        padding-bottom: 15px;
        border-bottom: var(--border);
        font-weight: normal;

        a {
            text-decoration: none;
        }
    }

    %tags {
        font-size: 1rem;
        opacity: .5;

        @media (max-width: $phone-max-width) {
            font-size: 0.75rem;
        }
    }

    &-tags {
        @extend %tags;

        display: block;
    }

    &-tags-inline {
        @extend %tags;

        display: inline;

        @media (max-width: $phone-max-width) {
            display: block;
        }
    }

    &-content {
        margin-top: 30px;
    }

    &-cover {
        border: 20px solid var(--accent);
        background: transparent;
        margin: 40px 0;
        padding: 20px;

        @media (max-width: $phone-max-width) {
            padding: 10px;
            border-width: 10px;
        }
    }

    ul {
        list-style: none;

        li:before {
            content: '-';
            position: absolute;
            left: -20px;
            color: black;
        }
    }
}

.post--regulation {
    h1 {
        justify-content: center;
    }

    h2 {
        justify-content: center;
        margin-bottom: 10px;

        &+h2 {
            margin-top: -10px;
            margin-bottom: 20px;
        }
    }
}

.post-list {
    margin-bottom: 3px;

    .post-date {
        color: black;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    .post-list-title {
        text-decoration: underline;
    }

    .post-tag {
        text-decoration: underline;
    }
}