{% macro list_subsections(sections_string) %}
    {%- for section_string in sections_string %}
    {%- set section = get_section(path=section_string) -%}
    <li class="post-list">
        <a href="{{ section.path | safe }}">
            <span class="post-list-title">{{ section.title }}/</span></a>
    </li>
    {% endfor -%}
{% endmacro list_subsections %}

{% macro move_parent(sections_string) %}
<li>
    {%- set parent_string = sections_string | last -%}
    {%- set parent = get_section(path=parent_string) -%}
    <a href="{{ parent.path | safe }}">
        <span class="post-list-title">../</span></a>
</li>
{% endmacro move_parent %}