{% import "macros/subsection.html" as subsection_macros -%}
{% import "macros/date.html" as date_macros -%}
{% import "macros/head.html" as head_macros -%}
{% import "macros/menu.html" as menu_macros -%}
{% import "macros/post.html" as post_macros -%}
{% import "macros/title.html" as title_macros -%}

<!DOCTYPE html>
<html lang="{%- if config.default_language -%}{{ config.default_language }}{%- else -%}en{%- endif -%}">

<head>
    <title>{%- block title-%}{{ config.title }}{% endblock title -%}</title>
    {{ head_macros::head(config=config) }}

    {%- if config.generate_feed-%}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="/rss.xml") | safe }}">
    {% endif -%}

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <meta property="og:image" content="{{ get_url(path="/logo.png") | safe }}"">
    
    <meta property="og:type" content="website">
    <meta property="og:description" content="echo's minimal Wiki blog">
    <meta property="og:url" content="{{ config.base_url }}">
    
    <meta property="twitter:description" content="echo's minimal Wiki blog">
    <meta property="twitter:image" content="{{ get_url(path="/logo.png") | safe }}">
    <meta property="twitter:card" content="summary">

    {% block extra_head -%}
        <meta property="og:title" content="{{ config.title }}">
        <meta property="twitter:title" content="{{ config.title }}">
    {%- endblock extra_head %}

    <link rel="stylesheet" href="{{ get_url(path='fonts.css', trailing_slash=false) | safe }}">
    <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />
</head>

<body class="">
    <div class="container">
        <header class="header">
            {% include "components/header.html" -%}
        </header>
        <div class="main-content">
            <div class="content standard-dialog">
                {% block content-%}
                {% endblock content-%}
            </div>
        </div>
        {% include "components/footer.html" -%}

    </div>
    {%- block extra_body-%}
    {% endblock extra_body -%}
</body>

</html>