{% import "macros/subsection.html" as subsection_macros -%}

{% extends "base.html" -%}

{% block content %}
<div class="post">
    <p class="post-title heading center">{{ section.title }}</p>
    <ul>
        {{ subsection_macros::list_subsections(sections_string=section.subsections) }}
        {{ post_macros::list_posts(pages=section.pages) }}
    </ul>
</div>
{% endblock content %}