{% extends "index.html" %}

{%- block extra_head-%}
    <meta property="og:title" content="{{ page.title }} - {{ config.title }}">
    <meta name="twitter:title" content="{{ page.title }} - {{ config.title }}">
    <meta name="twitter:label1" content="Tags">
    {% if page.taxonomies.tags -%}
    <meta name="twitter:data1" content="{{ page.taxonomies.tags | join(sep=",") | safe }}">
    {% endif -%}
    {% if page.date -%}
    <meta property="article:published_time" content="{{ page.date }}">
    {% endif -%}
{% endblock extra_head -%}

{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    <div class="post">
        {{ post_macros::header(page=page) }}
        {{ post_macros::content(page=page, summary=false) }}
        {{ post_macros::earlier_later(page=page) }}
    </div>
{% endblock content %}
