{% import "macros/subsection.html" as subsection_macros %}

{% extends "index.html" %}

{% block content %}
<div class="post">
    <h1 class="post-title">{{ section.title }}</h1>
    <ul class="path-list">
        {{ subsection_macros::move_parent(sections_string=section.ancestors) }}
        {{ subsection_macros::list_subsections(sections_string=section.subsections) }}
        {{ post_macros::list_posts(pages=section.pages) }}
    </ul>
</div>
{% endblock content %}