{% import "macros/menu.html" as menu_macros %}

<ul role="menu-bar">
    <li role="menu-item" tabindex="0" aria-haspopup="true">
        {{ config.extra.logo_text }}
        <ul role="menu">
            <li role="menu-item">
                <a href="{{ config.base_url | safe }}" tabindex="-1">Home</a>
            </li>
            <li role="menu-item">
                <a href="{{ config.base_url | safe }}/About" tabindex="-1">About</a>
            </li>
        </ul>
    </li>
    {%- if config.extra.menu_items %}
        {%- set menu_items = config.extra.menu_items -%}
            {%- for item in menu_items %}
                    {%- if item.newtab -%}
                    <li role="menu-item" tabindex="0" aria-haspopup="false">
                        <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) | safe }}" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">{{ item.name | safe }}</a>
                    </li>
                    {%- elif item.url -%}
                    <li role="menu-item" tabindex="0" aria-haspopup="false">
                        <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) | safe }} style="text-decoration: none;">{{ item.name | safe }}</a>
                    </li>   
                    {%- else -%}
                    <li role="menu-item" tabindex="0" aria-haspopup="true">
                        {{ item.name | safe }}
                        {%- set item_name = item.name -%}
                        {%- set taxononmy = get_taxonomy(kind=item_name) -%}
                        {%- if taxononmy and taxononmy.items -%}
                            <ul role="menu">
                                {%- for item in taxononmy.items -%}
                                    {%- if item.path -%}
                                    <li role="menu-item">
                                        <a href="{{ config.base_url | safe }}{{ item.path | safe }}" tabindex="-1">{{ item.name | safe }}</a>
                                    </li>
                                    {%- endif -%}
                                {% endfor -%}
                            </ul>
                        {%- endif -%}
                    </li>
                    {%- endif -%}
            {% endfor -%}
    {% endif -%}
</ul>